*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#header{
    background-color: #e66611;
    border-bottom: white 3px solid;
}

#logo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#header-nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
    align-items: center;
    padding: 1.3rem 0;
    
}


.btn{
    padding: 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #e66611;
    background-color:#e66611;  
}


#header-nav ul{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

#header-nav li{
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li:hover{
    text-decoration: none;
    color: #e66611;
    cursor: pointer;
}

a:visited{
    color: none
}

.class{
    max-width: 100vw;
}

#para{
    background-color: #e66611;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    align-items: left;
    padding: 0 3.5rem 0 3.5rem;
    padding-top: 15rem;
    color: white; 
}

#para p{
    font-family: Arial, Helvetica, sans-serif;
}

#para h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
    font-size: 2rem;
}

#image{
    background-image: url(../img/given.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#body-section{
    display: grid;
    grid-template-columns: 2.3fr 1.8fr;
}

@media(max-width:600px){
    #body-section{
        display: flex;
        flex-direction: column;
    }
    
    #para{
        background-image: url(../img/givendull.jpg);
        background-color: rgba(rgba(107, 94, 81, 0.781), rgb(97, 138, 106), rgb(46, 79, 105), 0.4);
        background-repeat: no-repeat;                   background-size: cover;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding: 0 2rem 0 2rem;
        padding-top: 10rem;
        color: white; 
    }
    
    #para p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        text-align: center;
    }
    
    #para h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 1rem;
        font-size: 1.7rem;
        text-align: center;
    }
    
    #image{
    display: block;
    background-image: url(../img/given.jpg);
    background-repeat: no-repeat;        background-size: cover;

    }
    
    #header-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        max-width: 80%;
        align-items: center;
        padding: 1rem 0;
        
    }

    #logo{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }

    #header-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        max-width: 80%;
        align-items: center;
        padding: 1rem 0;
    }


    .btn{
        padding: 1rem o.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1rem;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        color: #e66611;
        background-color:#e66611;  
    }
    
    #header-nav ul{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
    }

   

    .btn{
        padding: 0.5rem 0.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 0.8rem;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        color: #e66611;
        background-color:#e66611;  
    }
   

    
}

@media(max-width:400px){
    .body{
        background-color: #e66611;
    }
    
    #para{
        color: #ffffff;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding: 0 2rem 0 2rem;
        padding-top: 15rem;
        color: white; 
    }
    
    #para p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        text-align: center;
    }
    
    #para h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 1rem;
        font-size: 1.7rem;
        text-align: center;
    }
    
    #image{
        background-image: url(../img/given.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }
    #header-nav li{
        font-size: 0.5rem;
    }
    
    
}

@media(max-height:300px){
    #para{
        background-color: #e66611c5;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding: 0 2rem 0 2rem;
        padding-top: 4rem;
        color: white; 
    }
    
    #para p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        text-align: center;
    }
    
    #para h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 1rem;
        font-size: 1.7rem;
        text-align: center;
    }
    
    #image{
        background-image: url(../img/given.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30%;
    }
    
    
    #body-section{
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
           
        
    }
    
